div {
    width: 300px;
    height: 300px;

    background-color: goldenrod;

    border-width: 10px;
    border-color: green;
    border-style: inset;
}

h1 {
    display: inline;
}

span {
    background-color: blueviolet;
}


#second {

    color: beige;
    background-color: blueviolet;
    border: 15px red dashed;
}