body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 100vh; */
}

.row {
    margin: 20px 10px;
    display: flex;

    /* text-align: center; */


}

@media (mix-width:576px) {

    .row {
        flex-direction: column;
    }
}