body {
    font-size: 20px;
}

nav {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 0.8em;
    margin: calc(10%/6);
    width: 30%;
    padding: 1em 0;
    border-bottom: 2px solid gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    margin: calc(10%/6);
}


.di {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


img {
    width: 30%;
    margin: 1.66%;
}